
.SpotImages{
    width: 320px;
    height: 300px;
    border-radius: 30px;
    padding: 12px;
}

.spotText{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 13px;
    
    font-weight: bold
}

.details{
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    margin-top: 3px;
    
}

.detailText{
    color: gray;
}

.priceDet{
    margin-top: 10px;
}
#rating{
    font-size: 16px;
   
}
.bottomcard{
   margin-left: 20px;
   margin-top: -30px;
}

.link{
   display: flex;
   flex-direction: column;
    text-decoration: none;
    color: black;
}

.detailcontainer{
    margin-top: -10px;
    font-family: sans-serif;
    font-size: 14px;
  
}

.price{
    margin-top:10px;
    font-weight: bold;
}

.cardDetail{
    color: gray;
}
.pTag{
    margin-top: -10px;
}

.pTag2{
    margin-bottom: 10px;
    padding-top: 5px;
}

.allcards{
    display: flex;
    flex-wrap: wrap;
}