.editmaindiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editcontainer{
    display: flex;
    justify-content: space-around;
}
.editinputs{
   width: 500px;
   min-height: 40px;
   border-radius: 10px;
   border-color: rgba(72, 72, 72, 0.3);
}

.editpad{
    padding-bottom: 10px;
}

.edit-btn{
    width: 500px;
        height: 40px;
        background-color: rgb(227, 28, 95);
        border: none;
        color: white;
        border-radius: 8px;
}

.editerrors{
    display: flex;
    justify-content: center;
}
 .editdots{
     list-style-type: none;
    color: rgb(227, 28, 95);
 }
.editText{
    width: 550px;
}