.spotImage{
    width: 1000px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    
}

.MainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}

.reviewcard{
    box-shadow: rgba(0, 0, 0.12) 0px 6px 16px;
   padding: 20px;
   margin-top: 15px;
   border-radius: 15px;
    width: 200px;
    
}

.pricediv{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 35px;
}

.space{
    font-size: large;
}

.textBlock{
    display: flex;
    flex-direction: column;
    width: 720px;
}

.para{
    width: 720px;
    padding: 20px;
    /* border-bottom: 1px solid lightgray; */
    font-weight: lighter;
}

.hosteddiv{
  font-size: 25px;
  padding-top: 20px;
  color: #000000Bf;
  margin-left: 20px;
}
.descriptiondiv{
    font-size: 16px;
    color: #000000Bf;
    border-bottom:  1px solid lightgray;
    padding-bottom: 15px;
    margin-left: 20px;
   margin-top: 5px;
}
.cancellation{
    margin-left: 17px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid lightgray;
    width: 700px;
}

.twoBtn{
    display: flex;
    flex-direction: row;
}

.deleteBtn{
     
           
            color: white;
            background-color: rgb(227, 28, 95);
            cursor: pointer;
            border: none;
            height: 40px;
            border-radius: 8px;
}

.editsbtn{
        color: white;
            background-color: rgb(227, 28, 95);
            cursor: pointer;
            border: none;
            height: 40px;
            border-radius: 8px;
}
.priceText{
    margin: 5px;
}

.total-text{
    margin-top: 40px;
    border-top: 1px solid lightgray;
    padding-top: 3px;
}
.review-btn{
        color: white;
            background-color: rgb(227, 28, 95);
            width: 195px;
            border: none;
            height: 40px;
            border-radius: 8px;
            cursor: pointer;
}

.reviewSpace{
    width: 980px;
    margin-top: -15px;
}

.BigPrice{
    font-weight: bold;
}
.Bottom-page{
    margin-left: 20px;
}

.borderbox{
   min-width: 900px;
   background-color: lightgray;
}
.parapadding{
    padding-bottom: 20px;
}