.starDiv{
    margin-top: 30px;
    margin-bottom: 5px;
    padding-bottom: 7px;
}


.starBlock{
    padding-bottom: 25px;
        display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            font-weight: lighter;
}
.nameDiv{
  margin-left: 26px;
  padding-bottom:10px;
}

#StarId{
    margin-left: 26px;
    margin-top: 20px;
}

#Aug{
margin-bottom: 10px;
    color: darkgray;
}