.NavBar{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid;
    border-color: lightgray;
    min-width: 100%;
}

.btn{
    margin-right: 60px;
    margin: 20px;
  
}

.userbtn{
    border-radius: 10px;
}